a {
  color: #111;
}

body {
  background-color: #ececec;
  font-family: "DB Heavent";
  background: url("assets/bg-calendar.jpg") no-repeat center center fixed;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fc .fc-multimonth-multicol .fc-daygrid-more-link {
  background: #3788d8;
  color: #fff;
}

.fc-multimonth-header {
  text-align: center;
}
.fc .fc-multimonth-title {
  display: inline-block;
}

.fc-multimonth-title a {
  float: right;
}

.event-count {
  font-size: 0.8em;
  color: #888;
  margin-left: 0rem;
  float: right;
  position: relative;
  top: -5px;
}

.fc-multimonth-title * {
  display: none;
}
.fc-multimonth-title span {
  display: inline-block;
}

.fc-more-link {
  text-align: center;
}

.ant-card-head-title {
  text-align: left;
}
